<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="Checkbook Web App">
        <meta name="author" content="David Coppola">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Web Checkbook
        </title>
    </head>
    <body>
        <h2>Account Confirmation</h2>
        <p>Congratulations! You added {{ account_name }} wth a starting balance of {{ start_balance }}!</p>
        <a href="/">Back to account list...</a>
    </body> 
</html>