<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="Checkbook Web App">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="David Coppola">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Web Checkbook
        </title>
    </head>
    <body>
        <h2>Transaction List for "{{ account_name }}"</h2>
        <p style="margin-bottom: 0px;">Bank Balance: {{ actual }}</p>
        <p style="margin-top: 0px;">Available Balance: {{ available }}</p>
        <a href="create_transaction/">Add a transaction</a><br><br>
        {% for transaction in transaction_list %}
            {% if transaction.not_clear == 0 %}
                <li>{{ transaction }}</li>
            {% else %}
                <li style="color: red;">{{ transaction }}</li>
            {% endif %}
        {% endfor %}
        <br>
        <a href="/">Back to account list...</a>
    </body>
</html>