<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="Checkbook Web App">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="David Coppola">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Web Checkbook
        </title>
    </head>
    <body>
        <h2>Transaction Confirmation</h2>
        <p>Congratulations! You added the following: </p> 
        <blockquote>{{ transaction }}!</blockquote>
        <a href="http://127.0.0.1:8000/{{ transaction.account_name_id }}/">Back to account...</a>
    </body> 
</html>